---
import stations from "../data/stations.normalized.json";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Touch Radio Web</title>
	</head>
	<body>
		<h1>Touch Radio Stations</h1>
		<ul>
			{
				stations.map((station) => (
					<li>
						<strong>{station.name}</strong> - {station.country} (
						{station.codec}, {station.bitrate}kbps)
					</li>
				))
			}
		</ul>
	</body>
</html>
