---
const { station } = Astro.props;
---

<li
    data-name={station.name.toLowerCase()}
    data-country={station.country}
    data-codec={station.codec}
    data-bitrate={station.bitrate}
    data-tags={station.tags ? station.tags.join(",") : ""}
>
    <input type="checkbox" data-id={station.id} />
    <img
        src="/station-placeholder.svg"
        data-favicon={station.favicon}
        alt={station.name}
        width="32"
        height="32"
        style="vertical-align: middle; margin-right: 0.5rem;"
    />
    <strong>{station.name}</strong> - {station.country} ({station.codec}, {
        station.bitrate
    }kbps)
</li>
